config.py
__pycache__/*
bloodyterminal/__pycache__/*

*.dll

\.vscode/launch\.json

music\.mp3
setup.cfg
.pypirc

MANIFEST
bloodyterminal.egg-info/*
dist/*
binary\.py

bloodyterminal/demo\.py

GIF\.gif

ico/custom\.ico

ico/debug\.ico

ico/info\.ico

ico/success\.ico

ico/warning\.ico

README\.rst

setup\.py

test\.py
