config.py
__pycache__/*
bloodyterminal/__pycache__/*

*.dll

\.vscode/launch\.json
.idea/
music\.mp3
setup.cfg
.pypirc
demo_windows.png
MANIFEST
bloodyterminal.egg-info/*
dist/*
binary\.py
venv/*
bloodyterminal/demo\.py

GIF\.gif

ico/custom\.ico

ico/debug\.ico

ico/info\.ico

ico/success\.ico

ico/warning\.ico

README\.rst

setup\.py

test\.py
